@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html,
body {
    height: 100%;
    position: relative;
    font-family: Roboto;
    background: #ffffff;
}

.slider-ctr {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.15), 0 5px 20px 3px rgba(0, 0, 0, 0.1);
}

.slider-ctr:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
}

.sc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    width: 100vw;
    height: 100px;
}

.slider-control {
    position: relative;
    width: 80px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.slider-control .control {
    width: 50%;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.3s all ease;
    background: white;
}

.slider-control .control .icon {
    pointer-events: none;
    transition: 0.3s all ease;
}

.slider-control .control.disabled {
    pointer-events: none;
    background: #ddd;
}

.slider-control .control.disabled .icon {
    opacity: 0.5;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    transition: 0.45s all cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(128, 109, 109, 0.125);
}

.slide.slide-on {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
}

.slide img {
    display: block;
    height: 70%;
    width: auto;
    overflow: hidden;
    object-fit: contain;
    margin: auto;
    border: 22px solid #e6e0e0;
}

@media (max-width: 1024px) {
    .slide img {
        height: fit-content;
        border: 15px solid #e6e0e0;
    }
}